<form class="form-group">
  <div>
    <label for="nombre" class="my-2">Nombre:</label>
    <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      class="form-control"
      [(ngModel)]="nombre"
      #nombreInput
    />
  </div>
  <div>
    <label for="apellido" class="my-2">Apellido:</label>
    <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      class="form-control"
      [(ngModel)]="apellido"
    />
  </div>
  <div>
    <input
      type="submit"
      value="Agregar"
      class="btn btn-primary my-3"
      (click)="agregarPersona()"
    />
  </div>
</form>
